/* MENÚ en general*/
.sidenav {
  background: #262626;
  transition: all .5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 5rem;
  height: 100vh;
  box-shadow: 0.063rem 0 1.25rem 0 #a6a6a6;
}

/* CONTENEDOR PARA EL LOGO Y EL TEXTO */
.logo-container {
  display: flex;
  align-items: center;
  padding: 0.938rem;
  width: 100%;
}

/* LOGO */
.logo {
  border: none; /* Puede ser innecesario si el logo no tiene un borde por defecto */
  border-radius: 0px; /* Esto es relevante si quieres que las esquinas sean redondeadas */
  overflow: hidden; /* Útil si quieres que cualquier contenido que desborde se recorte */
  width: 3rem; /* Importante para definir el tamaño del logo */
  min-width: 3rem; /* Relevante si quieres mantener un tamaño mínimo */
  height: 3rem; /* Ajustar la altura del logo */
  padding: 0; /* Eliminar el padding adicional */
  cursor: pointer; /* Cambiar tipo de cursor */
}

.logo img {
  width: 100%; /* Asegura que la imagen se ajuste al contenedor */
  height: 100%; /* Asegura que la imagen se ajuste al contenedor */
  object-fit: cover; /* Ajusta la imagen para cubrir el área del logo sin distorsionarla */
  border-radius: 0px; /* Mantiene las esquinas redondeadas en la imagen */
}

/* Texto al lado de logo */
.logo-text {
  margin-left: 1.5rem; /* Posicionamiento y espacio */

  /* Estilo de texto */
  font-size: 24px;
  font-weight: 600;
  color: #f2f2f2;
  font-family: 'Arial';
}

/* MENÚ CERRADO */
.sidenav-collapsed {
  width: 16.5625rem;
}

/* MARGENES LATERALES DE MENÚ */
.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);
  cursor: pointer;
}

/* ALINEACIÓN DE LOS ITEMS HACÍA LA IZQUIERDA EN MENÚ ABIERTO */
.sidenav-nav-item {
  width: 100%;
  margin-bottom: 0.625rem;
}

/* ICONOS */
.sidenav-nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: #f2f2f2;
  text-decoration: none;
  border-radius: 0.625rem;
  transition: all .3s ease;
}

/* TAMAÑO DE ICONOS Y ALINEACIÓN AL CENTRO */
.sidenav-link-icon {
  font-size: 22px;
  width: 2rem;
  min-width: 2rem;
  margin: 0 0.5rem;
  text-align: center;
}

/* MARGEN PARA EL TEXTO EN CADA ITEM*/
.sidenav-link-text {
  margin-left: 1.5rem;
}

/* HOVER PARA CADA ITEM */
.sidenav-nav-item:hover .sidenav-nav-link {
  background-color: #f2f2f2;
  color: #262626;
}

/* Pendiente, no hace cambios... No estoy segura. */
.sidenav-nav-item:hover .sidenav-link-icon,
.sidenav-nav-item:hover .sidenav-link-text {
  color: #262626;
}

/* AL SELECCIONAR UN ITEM, ESTE SE ACTIVA... */
.active {
  background-color: #fff;
}

/* COLORES PARA EL ICONO Y EL TEXTO AL ESTAR ACTIVO EL ITEM */
.active .sidenav-link-icon,
.active .sidenav-link-text {
  color: #262626;
}

/* Estilos para los encabezados del modal */
.modal-title {
  font-size: 20px;
  font-weight: 500;
  margin: 5px;
  text-align: center;
}